html, body, #left, #right, mylist {
  height: 100%;
  margin: 0;
  padding: 0;
}

#left {
  float: left;
  display: inline-block;
  width: 40%;
}

#right {
  float: left;
  display: inline-block;
  width: 60%;
  background-color: #A0A987;
}

.person {
  width: 70%;
  height: 30%;
  top: 35%;
  margin: 0 auto;
  position: relative;
}

.cat {
  border-radius: 50%;
  width: 60%;
  margin-left: 20%;
  margin-top: 20%;
}

.btn-group button {
  background-color: #C5CBB5; /* Green background */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  border: none;
  outline:none;
  font-size:15px;
}

.task {
  float: left;
  width: 50%;
  height: 40%;
  top: 30%;
  vertical-align: middle;
  margin-left: 25%;
  position: relative;
  background: #4F485E;
  border-radius: 25px;
}

.line-separator{
  height:2px;
  background:#FFFFFF;
  border-bottom:1px solid #FFFFFF;
  margin-left:40px;
  margin-right:60px;
  margin-top:30px;
}

.time{
  display: inline-block;
  border: 1px solid white;
  background-color: white;
  color: black;
  font-size: 14px;
  cursor: pointer;
}
