<h2>Settings section</h2>
<h4>Profile:</h4>
<label>First name</label><input type="text">, <label>Last name</label><input type="text"><br><br>
<label>Photo</label><input type="text"><br><br>
<label>Gender</label><input type="text"><br><br>
<label>Location</label><input type="text">, <label>Time zone</label><input type="text"><br><br>
<label>Email</label><input type="text"><br><br>
<label>Summary</label><input type="text"><br><br>

<h4>Privacy:</h4>
Who can see your list(s) For Yourself?
<label>
  <input type="radio" name="you-friends1">Only you</input>
  <input type="radio" name="you-friends1">Your Friends</input>
</label><br>

Who can see your list(s) For Friends?
<label>
  <input type="radio" name="you-friends2">Only you</input>
  <input type="radio" name="you-friends2">Your Friends</input>
</label><br>

<h4>Notifications:</h4>
Notification time?
<label>
  <input type="radio" name="notification-time">10 minutes before</input>
  <input type="radio" name="notification-time">1 hour before</input>
</label><br>
email?
<label>
  <input type="radio" name="email">Yes</input>
  <input type="radio" name="email">No</input>
</label><br><br>

<a href="/">Back</a>
