<div id="left">
  <div class="person">
    <div style="float: left; width: 33%;"><img src="/resources/cat.jpg" alt="cat"></div>
    <div style="float: left; width: 67%;">
      <h2 style="margin-top: 30px;">Good Morning {{firstName}}</h2>
      <div class="btn-group">
        <button><a href="/home">Home</a></button>
        <button><a href="/friends">Friends</a></button>
        <button><a href="/settings">Settings</a></button>
        <button><a href="/">Log Out</a></button>
      </div>
    </div>
  </div>
</div>
