<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TimeKit</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <div id="right">
      <%- body %>
    </div>
  </body>
</html>
