<div id="right" style="background-color: #505741">
  <form action="/friends" method="POST" class="task">
    <h2 style="margin-left:40px; margin-top: 30px;">Add Friends</h2>
    <%- include('_form_fields') %>
    <a href="/friends">Cancel</a>
    <button type="submit">Add</button>
  </form>
  <div class="friend_request">
    <h2 style="margin-left:40px; margin-top: 30px;">Friend Requests</h2>
    <span style="margin-left:40px;">Priyal&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span><button class="btn-request">Accept</button><span>|</span><button class="btn-request">Reject</button><button class="btn-request">&#9655</button>
    <span style="margin-left:40px;">Priyal&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span><button class="btn-request">Accept</button><span>|</span><button class="btn-request">Reject</button><button class="btn-request">&#9655</button>
    <span style="margin-left:40px;">Priyal&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span><button class="btn-request">Accept</button><span>|</span><button class="btn-request">Reject</button><button class="btn-request">&#9655</button>
  </div>
</div>

/*
<h2>Add New Friend</h2>
<form action="/friends" method="POST">
  <%- include('_form_fields') %>
  <a href="/friends">Cancel</a>
  <button type="submit">Add</button>
</form>
*/
