<div id="right">
  <div class="friend_list">
    {{#if friends}}
      {{#each friends}}
        <a href="/friends/view/{{email}}"><img class="small" src="{{image}}"></a>
      {{/each}}
    {{/if}}
  </div>

  <a href="/friends/add"><img src="/resources/plus_sign_3.jpg" alt="plus button" style="width:40px;right:10px;position:absolute;bottom:10px;"></a>
</div>
