<div id="right">
  <div class="friend_list">
<img class="small" src="resources/cat.jpg" alt="cat">
<img class="small" src="resources/cat.jpg" alt="cat">
<img class="small" src="resources/cat.jpg" alt="cat">
<img class="small" src="resources/cat.jpg" alt="cat">
  </div>
  <div class="friend">
<h2 style="margin-left:30px;margin-top:30px;color:white;">For Friends</h2>
<ul style="list-style-type:square; font-size:17px;color:white;">
  <li><b>Frontend</b><div class="line-separator"></div><div class="time_friend">Mon 4:00 pm</div></br></li>
  <li><b>Backend</b><div class="line-separator"></div><div class="time_friend">Wed 4:00 pm</div></br></li>
  <li><b>UI</b><div class="line-separator"></li>
    </ul>
<a href="/friends/add"><img src="resources/plus_sign_dark.jpg" alt="plus button" style="width:40px;right:10px;position:absolute;bottom:10px;"></a>
  </div>
</div>

/*
<div id="right">
  <br>
  <a href="/friends/add">Add New Friend</a>
  <br>
  <h4>Friend list （currently just email):</h4>
  <% friends.forEach(friend => { %>
    <li><%= friend.email %></li>
  <% }) %>
  <br>
  <a href="/">Back</a>
</div>
*/
