<div id="left" style="float: left;
display: inline-block;
width: 65%;">
    <img class="homepage_image" src="resources/homepage.jpg" alt="plus button">
</div>
<div id="right" style="float: left;
display: inline-block;
width: 35%;">
<p class="name">TimeKit</p>
<p style="font-size: 20px;">A website to keep track of personal schedules</p>
<button class="button">Log in with Google</button>
</div>
