@import 'shared/addTask_partial.css';
@import 'shared/friendsAddScreen_partial.css';
@import 'shared/friendsScreen_partial.css';
@import 'shared/homepage_partial.css';
@import 'shared/settings_partial.css';
@import 'shared/loginpage_partial.css';

html, body, #left, #right, mylist {
  height: 100%; margin: 0; padding: 0;
}

#left {
  float: left;
  display: inline-block;
  width: 40%;
}

#right {
  float: left;
  display: inline-block;
  width: 60%;
  background-color: #A0A987;
}

.person {
  width: 80%;
  height: 30%;
  top: 35%;
  margin: 0 auto;
  position: relative;
}

img {
  border-radius: 50%;
  width: 60%;
  margin-left: 20%;
  margin-top: 20%;
}

.btn-group button {
  background-color: #C5CBB5; /* Green background */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  border: none;
  outline:none;
  font-size:15px;
}
