.task-addtask {
  float: left;
  width: 50%;
  height: 40%;
  top: 30%;
  vertical-align: middle;
  margin-left: 25%;
  position: relative;
  background: #FFFFFF;
  border-radius: 25px;
}

.line-separator-addtask {
  height:2px;
  background:#C4C4C4;
  border-bottom:1px solid #C4C4C4;
  margin-left:40px;
  margin-right:60px;
  margin-top:-10px;
}

form {
  margin-top: 20px;
}

button[type=submit] {
  margin-left: 60%;
}

form {
  margin-left: 40px;
}

ul{
  overflow:auto;
  max-height:270px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7A819D;
}
