.task-addtask {
  float: left;
  width: 50%;
  height: 40%;
  top: 30%;
  vertical-align: middle;
  margin-left: 25%;
  position: relative;
  background: #FFFFFF;
  border-radius: 25px;
}

.line-separator-addtask {
  height:2px;
  background:#C4C4C4;
  border-bottom:1px solid #C4C4C4;
  margin-left:40px;
  margin-right:60px;
  margin-top:30px;
}
