
.task {
  float: left;
  width: 50%;
  height: 25%;
  top: 10%;
  vertical-align: middle;
  margin-left: 25%;
  position: relative;
  background: #FFFFFF;
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
}

.friend_request {
  float: left;
  width: 50%;
  height: 40%;
  top: 20%;
  vertical-align: middle;
  margin-left: 25%;
  position: relative;
  background: #FFFFFF;
  border-radius: 25px;
}


.btn-request {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
}
