html, body, #left, #right, mylist {
  height: 100%; margin: 0; padding: 0;
}

#left {
  float: left;
  display: inline-block;
  width: 65%;
}

#right {
  float: left;
  display: inline-block;
  width: 35%;
}

.homepage_image {
  width: 80%;
  margin-left: 7%;
  margin-top: 4%;
  border: 15px solid #C4C4C4;
  border-radius: 35px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 13%;
  padding-bottom: 13%;
}

.name {
  margin-top: 60%;
  font-size: 35px;
}

.login {
  border: none;
  color: white;
  background-color: #575E48;
  width: 200px;
  padding: 10px 5px;
  display: block;
  font-size: 16px;
  text-align: center;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 10px;
}
