.setting {
  float: left;
  width: 60%;
  height: 80%;
  top: 8%;
  vertical-align: middle;
  margin-left: 20%;
  position: relative;
  background: #FFFFFF;
  border-radius: 25px;
  padding: 10px 10px 20px 20px;
}

input[type=text] {
  border: 1px solid black;
  margin: 0;
  padding: 0;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
