<div id="right">
  <div class="task-addtask" style="background-color: #4F485E">
    <h2 style="margin-left:40px; margin-top: 30px; color:white;">Add Task</h2>
    <div class="line-separator-addtask"></div>

    <form action="/home" method="POST" style="color: white;">
      <label>Task name</label>
      <input type="text" name="description"><br><br>
      <label>Date</label>
<<<<<<< HEAD
      <input type="text" name="reminderDate"><br><br>
=======
      <input type="date" name="date"><br><br>
>>>>>>> 07e37f71582bc4bc88b569195f52d6569d56ae6d
      <label>Time</label>
      <input type="text" name="reminderTime"><br><br>
      <input type="hidden" name="privacy" value="public">

      <a href="/home">Cancel</a>
      <button type="submit">Add</button>
    </form>
  </div>
</div>
